
@import '../components/scss/styles.scss';


body {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    background-color: #E7EFF1;
}

.product-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    img {
        width: 50%;
        align-self: center;
        @include media('medium'){
            width: 20%;
        }
    }
    .product-title {
        font-size: 32px;
        color: #25548e;
        margin: 0 0 8px;
    }
    .product-subtitle {
        font-size: 20px;
        color: #25548e;
        margin: 0 0 8px;
    }
    .product-data {
        color: green;
        p {
            margin-bottom: 16px;
        }
    }
    .button-container {
        display: flex;
        justify-content: center;
       .shop-button {
            height: 22px;
            width: 140px;
            border-radius: 15px;
            background-color: green;
            color: white;
            padding: 5px 18px;
            font-size: 15px;
            text-decoration: none;
            margin: 0 12px 0 0;
            img {
                height: 70%;
                width: auto;
                vertical-align: middle;
                margin-right: 5px;
            }
        } 
        .favourite-button {
            background-color: lightgrey;
            border-radius: 15px;
            width: 50px;
            align-items: center;
            img {
                margin-top: 5px;
                height: 22px;
                @include media('medium'){
                    width: 22px;
                }
            }


        }
        
    }
    .product-description {
        color: #25548e;
        margin-top: 10%;
        @include media('medium'){
            margin-top: 5%;
        }
    }
    .product-features {
        margin-bottom: 5%;
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        img {
            height: 50px;
            width: 50px;
        }
    }
}

.product {
    border-radius: 15px;
    margin: 2%;
    padding-bottom: 5%;
    justify-content: center;
    width: 400px;
    align-items: center;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(158,149,158,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(158,149,158,0.75);
    box-shadow: 0px 3px 5px 0px rgba(158,149,158,0.75);
    background-color: white;
    @include media('medium'){
        padding-bottom: 2%;
    }
    .product-view {
        height: 22px;
        width: 140px;
        border-radius: 15px;
        background-color: green;
        color: white;
        padding: 5px 18px;
        font-size: 15px;
        text-decoration: none;
        
    }
}
.home-container {
    display: flex;
    justify-content: center;
    text-align: center;
    .return-home {
        -webkit-box-shadow: 0px 3px 5px 0px rgba(158,149,158,0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(158,149,158,0.75);
        box-shadow: 0px 3px 5px 0px rgba(158,149,158,0.75);
        margin-bottom: 5%;
        margin-top: 5%;
        text-decoration: none;
        height: 22px;
        width: 140px;
        border-radius: 15px;
        padding: 5px 18px;
        background-color: white;
        color: #25548e;
    }
}
    