@import '../scss/styles.scss';


.footer-container {
    border-top: 2px solid lightgray;
    padding: 21px 15px;
    .footer-header-buttons {
        display: flex;
        justify-content: space-between;
        .f-button-style {
            background: none;
            color: #25548e;
            border: 1px solid #25548e;
            border-radius: 60px;
            font-size: 12px;
            width: 42%;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            padding: 5px 0;
            a {
                line-height: 28px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: inherit;
                img {
                    height: 18px;
                    margin-right: 14px;
                }
            }
        }
    }
    
}



.info-mobile{
    .info-container{
        display: flex;
        flex-direction: column;
        margin: 0 5%;
        color: #25548e;
        h3 {
            margin: 2% 0;
        }
        ul {
            margin: 2% 0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .p-copyright {
            text-align: center;
        }
    }
}